<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Oswald&display=swap" rel="stylesheet">
</head>
<section class="features" id="features">
    <div class="container-fluid">
      <div class="section-title text-center">
        <h1>Our Features</h1>
      </div>
      <div class="row">
        <div class="indo col-md-4 ft shadow">
          <div class="text-center">
            <div>
              <i class="fas fa-shipping-fast fa-3x"></i>
             </div> 
              <div>
                 <h3>Availability of Packages</h3>
              </div>
            <div >
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit
               esse cillum dolore eu fugiat nulla pariatur.</p> 
            </div>
          </div>
        </div>
        <div class="indo col-md-4 ft shadow">
          <div class="text-center">
            <div>
              <i class="fas fa-lock fa-3x"></i>
              <div>
                 <h3>Secure Payment Method</h3>
              </div>
            </div>
            <div >
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit  </p>
            </div>
          </div>
        </div>
        <div class="indo col-md-4 ft shadow">
          <div class="text-center">
            <div>
              <i class="fas fa-shipping-fast fa-3x"></i>
              <div>
                 <h3>24x7 support</h3>
              </div>
            </div>
            <div >
              <p>Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis
               nostrud exercitationullamco laboris
                nisi ut aliquip ex ea commodo consequat. 
             </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>