<body>
    <section id="title">
        <div class="container-fluid">
    <div class="row">   
        <div class="col-lg-6">
          <h1>Making travel fast easy customised</h1>
          <button type="button" class="btn btn-outline-dark download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-dark download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>
        <div class="col-lg-6">
          <img src="assets/imagefrontpage.png" alt="singapore" width="650" height="600">
        </div>
        </div>
    </div>
    </section> 
      <section id="features">
      
        <div class="row">
      
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3>Easy to use.</h3>
          <p>So easy to use, even your dog could do it.</p>
        </div>
      
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check fa-4x"></i>
          <h3>Elite Clientele</h3>
          <p>We have all the tourist destinations.</p>
        </div>
      
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3>Guaranteed to work.</h3>
          <p>Find the love of your travel's life or your money back.</p>
        </div>
      
        </div>
      
        
      
      </section>
      </body>