<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    </head>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p style="font-size: 30px;">
                    <strong>Discover &nbsp;</strong>
                    <i class="large material-icons">explore</i>
                </p>
        </div>
        </div>
        
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 25px;">
                    <strong>Popular Filters &nbsp;</strong>
                    <i class="large material-icons">hotel star local_taxi tap_and_play </i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="hotel" id="flexCheckDefault" [(ngModel)]="isChecked">
                    <label class="form-check-label" for="flexCheckDefault">
                        Hotels
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="resort" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Resorts
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5star" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        5 Stars
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="cab" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Cab Service
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="wifi" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Free Wi-Fi
                    </label>
                </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 18px;">
                    <strong>Average Cost per person per Night </strong>
                    <i class="fas fa-rupee-sign"></i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less50" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        < <i class="fas fa-rupee-sign"></i>50
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="more50" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <i class="fas fa-rupee-sign"></i>50 - <i class="fas fa-rupee-sign"></i>100
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="more100" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        <i class="fas fa-rupee-sign"></i>100 - <i class="fas fa-rupee-sign"></i>1000
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="more1000" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        <i class="fas fa-rupee-sign"></i>1000 - <i class="fas fa-rupee-sign"></i>5000
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="more5000" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        > <i class="fas fa-rupee-sign"></i>5000
                    </label>
                </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Stars and Other Ratings &nbsp;</strong>
                  
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5star" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        5 Stars &nbsp;
                        <i class="large material-icons">star star star star star </i>
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4star" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        4 Stars
                        &nbsp;
                        <i class="large material-icons">star star star star  </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3star" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        3 Stars
                        &nbsp;
                        <i class="large material-icons">star star star </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2star" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        2 Stars
                        &nbsp;
                        <i class="large material-icons">star star </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="unrate" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Unrated
                        
                        <i class="large material-icons">star_border</i>
                    </label>
                </div>
                
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Preferences &nbsp;</strong>
                    
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="babyf" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Baby Friendly 
                        <i class="large material-icons">child_friendly </i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="wfriendly" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Wheelchair Friendly 
                        <i class="large material-icons">accessible </i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="petf" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Pet Friendly &nbsp;
                        <i class=" material-icons"> pets</i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="smokef" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Smoke Free &nbsp;
                        <i class="large material-icons"> smoke_free </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="parking" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Parking 
                        <i class="large material-icons"> local_parking </i>
                        
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="helpdesk" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        24/7 Helpdesk
                        <i class="large material-icons"> help </i>
                    </label>
                </div>
                
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Facilities &nbsp;</strong>
                    
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="cbreakfast" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Complimentary Breakfast &nbsp;
                        <i class="large material-icons">free_breakfast</i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ac" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Air Conditioning &nbsp;
                        <i class=" material-icons">ac_unit</i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="wifi" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Free Wi-Fi &nbsp;
                        <i class="large material-icons"> tap_and_play </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="laundry" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Laundry &nbsp;
                        <i class="large material-icons"> local_laundry_service </i>
                        
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="housek" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        House Keeping &nbsp;
                        <i class="large material-icons"> people </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="roomservice" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Room Service &nbsp;
                        <i class="large material-icons">room_service  </i>
                        
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="restaurant" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Restaurant &nbsp;
                        <i class="large material-icons">local_dining  </i>
                        
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="bar" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Bar &nbsp;
                        <i class="large material-icons"> local_bar</i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="spa" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Spa &nbsp;
                        <i class="large material-icons"> spa </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gym" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Gym &nbsp;
                        <i class="large material-icons"> fitness_center </i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="smokingrooms" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Smoking Rooms &nbsp;
                        <i class="large material-icons"> smoking_rooms </i>
                    </label>
                </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Distance from City Center&nbsp;</strong>
                    <i class="large material-icons"> location_city </i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less1" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Less than 1 km
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less3" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 3 km
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less5" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 5 km
                    </label>
                </div>
                
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Distance from Airport &nbsp;</strong>
                    <i class="large material-icons">airplanemode_active  </i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less10" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Less than 10 km
                        
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less20" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 20 km
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less30" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 30 km
                    </label>
                </div>
                
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Distance from Metro </strong>
                    <i class="large material-icons"> train </i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less5m" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Less than 5 km
                        
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less10m" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 10 km
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less15m" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 15 km
                    </label>
                </div>
                
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <p style="font-size: 20px;">
                    <strong>Distance from Hospital </strong>
                    <i class="large material-icons"> local_hospital </i>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less5h" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Less than 5 km
                        
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less10h" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 10 km
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="less15h" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Less than 15 km
                    </label>
                </div>
                
            </div>
          </div>
    </div>
    
      