<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/108c5f3aed.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<div class="light">
    <main class="container py-2">
  
      <article class="postcard light blue">
        <a class="postcard__img_link">
          <img class="postcard__img" src="https://www.holidify.com/images/bgImages/SINGAPORE.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark lolz">
          <h1 class="postcard__title blue"><a href="#">{{attraction.Name}}</a></h1>
          <h3><i class="fas fa-map-marker-alt"></i>{{attraction.City}}</h3>
          <div class="ratings mr-3"></div><span><h3><b>{{attraction["Type of attraction"]}}</b></h3></span>
          <h3><i class="far fa-clock"></i><span> Avg. Time to explore :</span>{{attraction["Average time to explore the attraction"]}}<span>hr.</span></h3>
          <h3 class="mr-1"><i class="fas fa-rupee-sign"></i>{{attraction["Average cost of Ticket"]}}</h3><span class="strike-text"></span>
          <div class="postcard__bar"></div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i><button class="btn btn-outline-dark download-button" style="font-size: 12px; font-weight: bold;" type="button" (click)="onSeeMore()">See More</button></li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Save for Later</li>
          </ul>
        </div>
      </article>
    </main>
  </div>
<div *ngIf="seeMore">
    <h2 style="font-size: 24px; font-weight: bold;">Similar to selected one</h2>
    <app-attraction-item-detail
    *ngFor="let attractionRecommended of recommendedAttractions"
    [attraction]="attractionRecommended"></app-attraction-item-detail>
    <div style="margin-bottom: 10px;">
        <button class="btn btn-danger btn-lg" type="button" (click)="onSeeLess()">See Less</button>
    </div>
</div>