<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<div class="row">
    <div class="single col-sm-4">
      <a routerLink="stay">
      <div>
        <img  src="https://www.omnihotels.com/-/media/digex/destination-interests/interest-resort-2880x1870.jpg?la=en&h=1286&w=1980&mw=1980&hash=6FF9554AA18BF3FFA24F8F610D9AC81C4881A986" alt="">
        <div class="top-centre">HOTELS/RESORTS</div>
    </div>
      </a>
    </div>
    <div class="single col-sm-4">
     <a routerLink="stay">  
      <div>
        <img src="https://www.holidify.com/images/bgImages/SINGAPORE.jpg" alt="">
        <div class="top-centre">ATTRACTIONS</div>
      </div>
    </a>
    </div>
    <div  class="single col-sm-4">
     <a href="#">
      <div>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-holiday-destinations-2020-1572544665.jpg?crop=0.332xw:0.663xh;0.652xw,0.192xh&resize=640:*" alt="">
        <div class="top-centre">HOLIDAY PACKAGES</div>
      </div>
    </a>
    </div>
  </div>