.row {
  background-color: #e0e0d1;
  padding: 20px;
}
.single {
    position: relative;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.top-centre {
  position: absolute;
  top:5px;
  left:100px;
  right:100px;
  color: black;
  font-size: 24px;
}
.single img{
  height: 300px;
  width: 400px;
  border-radius: 10%;
}